.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noteList{
  margin-top: 20px;
}

.sumbit{
  margin-top: 20px;
}

.sumbitbutton{
  width: 100px;
  background-color: black;
  color: aliceblue;
}

.noteList{
   
  margin-top: 30px;
}